.header__wrapper {
	display: flex;
	min-height: 100dvh;
	position: relative;
	height: 100%;
	width: 100%;
	background: url('../images/hero_bg.jpg') center / cover no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	z-index: 20;

	.hero__img {
		@media (max-width: $breakpoint768) {
			max-width: 288px;
			width: 100%;
			height: auto;
		}
	}
}
// Desktop Menu
header {
	width: 100%;
	position: fixed;
	left: 0;
	top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	@media (max-width: $breakpoint1200) {
		top: 10px;
		padding: 20px;
	}
	&.active {
		top: 0;
		transition: top 0.3s;
		background-color: rgba(252, 245, 239, 0.7);
		@media (max-width: $breakpoint1200) {
			background: white;
			padding: 20px;
		}

		.header {
			max-width: 1400px;
		}
		.menu__item {
			&:nth-child(4) {
				display: flex;
				visibility: 1;
			}
		}
		.menu__link {
			color: #000;
		}
		.header__inst {
			fill: #000;
		}
		.menu__logo {
			display: block;
		}
		.mobile__logo {
			@media (max-width: $breakpoint1200) {
				display: flex;
				flex-grow: 1;
				justify-content: center;
				z-index: 21;
				margin-left: -30px;
				pointer-events: none;
			}
		}
		.submenu__list {
			background-color: rgba(252, 245, 239, 0.7);
			@media (max-width: $breakpoint1200) {
				background: transparent;
			}
			a {
				color: #000;
			}
		}

		.burger {
			span,
			&:before,
			&:after {
				background: #000;
			}
		}
	}
}
.header {
	max-width: 1000px;
	width: 100%;
	@media (max-width: $breakpoint1200) {
		display: flex;
		align-items: center;
		gap: 10px;
	}
	.mobile__logo {
		display: none;
	}
}
.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media (max-width: $breakpoint1200) {
		display: none;
	}
	.with__submenu {
		position: relative;

		&:hover {
			> .submenu {
				opacity: 1;
				visibility: visible;
				transform: rotateX(0);
			}
		}
	}
	// .menu__item
	&__item {
		list-style: none;
		&:nth-child(4) {
			display: none;
		}
	}
	// .menu__link
	&__link {
		font-size: 12.5px;
		line-height: 1.2;
		color: white;
		text-decoration: none;
		letter-spacing: 3px;
		text-underline-offset: 4px;
		svg {
			display: block;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	// .menu__logo
	&__logo {
		display: none;
	}
}

// Submenu
.submenu {
	min-width: 170px;
	position: absolute;
	left: -8px;
	z-index: 5;
	transform: rotateX(-90deg);
	transform-origin: 0 0;
	transition: 0.3s linear;
	visibility: hidden;
	opacity: 0;
	background: none;
	top: 100%;
	padding-top: 18px;
	ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 4px;
		padding: 0 8px 8px;
	}
	li {
		position: relative;
	}
	a {
		font-size: 12.5px;
		line-height: 1.2;
		color: white;
		text-decoration: none;
		text-underline-offset: 4px;
		&:hover {
			text-decoration: underline;
		}
		display: block;
	}
}

// Burger Button
.burger {
	display: none;
	background: transparent;
	z-index: 3;
	outline: none;
	border: none;
	@media screen and (max-width: $breakpoint1200) {
		display: flex;
		position: relative;
		height: 20px;
		width: 30px;

		&.active {
			&:before {
				background: #000;
				transform: rotate(45deg);
				transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
				top: 8px;
			}

			&:after {
				background: #000;
				transform: rotate(-45deg);
				bottom: 10px;
				transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
			}

			& span {
				transform: scale(0);
			}
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
			height: 2px;
			width: 100%;
			background: #fff;
			transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
		}

		&:before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			position: absolute;
			top: 9px;
			right: 0;
			width: 100%;
			background: #fff;
			height: 2px;
			transform: scale(1);
			transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
		}
	}
}

// Mobile Menu
.mobile {
	// .mobile__menu-wrapper
	&__menu-wrapper {
		position: fixed;
		left: -100%;
		top: 0;
		transition: 0.3s all;
		width: 100%;

		opacity: 0;
		z-index: 30;
		&.active {
			left: 0;
			opacity: 1;
		}
	}
	&__menu {
		background: #fff;
		width: 85%;
		min-height: 100dvh;
	}
	// .mobile__menu-header
	&__menu-header {
		padding: 14px 20px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid #d6d6d6;
	}
	// .mobile__menu-close
	&__menu-close {
		background: transparent;
		border: none;
		position: absolute;
		padding: 4px;
		right: 16px;
		top: 50%;
		transform: translateY(-50%);
	}
	// .mobile__menu-content
	&__menu-content {
		padding: 0 24px;
		display: flex;
		flex-direction: column;
	}
	// .mobile__menu-list
	&__menu-list {
		list-style: none;
		display: flex;
		flex-direction: column;
		padding: 26px 0;
		gap: 14px;
		&:not(:first-child) {
			border-top: 1px solid #d6d6d6;
		}
		.mobile__dropdown-button {
			text-decoration: none;
			font-size: 12.5px;
			line-height: 1.2;
			letter-spacing: 3px;
			font-weight: normal !important;
			background: transparent;
			width: 100%;
			border: 0;
			display: flex;
			justify-content: space-between;
			.mobile__menu-arrow {
				width: 18px;
				transition: 0.3s all;
				&.active {
					rotate: 180deg;
				}
			}
		}
		.mobile__dropdown-content {
			list-style: none;
			margin-top: 10px;
			display: flex;
			flex-direction: column;
			display: none;

			li {
				padding: 4px 10px;
			}
		}
		a,
		li {
			text-decoration: none;
			font-size: 12.5px;
			color: rgb(0, 0, 0);
			line-height: 1.2;
		}
	}
	// .mobile__menu-social
	&__menu-social {
		border-top: 1px solid #d6d6d6;
		list-style: none;
		padding-top: 24px;
		display: flex;
		align-items: center;
		gap: 18px;
	}
}
