* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}
body.locked {
  overflow: hidden;
}

section {
  padding: 80px 0;
}
@media (max-width: 991.99px) {
  section {
    padding: 40px 0;
  }
}

h2 {
  font-size: 34px;
  letter-spacing: 120%;
  line-height: 1.2;
  font-weight: 500;
  text-align: center;
}
@media (max-width: 991.99px) {
  h2 {
    font-size: 26px;
  }
}
@media (max-width: 767.99px) {
  h2 {
    font-size: 18px;
  }
}

h3 {
  font-size: 12.5px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  margin-top: 4px;
  font-weight: normal;
}

h4 {
  font-size: 31.25px;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
}

.header__wrapper {
  display: flex;
  min-height: 100dvh;
  position: relative;
  height: 100%;
  width: 100%;
  background: url("../images/hero_bg.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 20;
}
@media (max-width: 767.99px) {
  .header__wrapper .hero__img {
    max-width: 288px;
    width: 100%;
    height: auto;
  }
}

header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
@media (max-width: 991.99px) {
  header {
    top: 10px;
    padding: 20px;
  }
}
header.active {
  top: 0;
  transition: top 0.3s;
  background-color: rgba(252, 245, 239, 0.7);
}
@media (max-width: 991.99px) {
  header.active {
    background: white;
    padding: 20px;
  }
}
header.active .header {
  max-width: 1400px;
}
header.active .menu__link {
  color: #000;
}
header.active .header__inst {
  fill: #000;
}
header.active .menu__logo {
  display: block;
}
@media (max-width: 991.99px) {
  header.active .mobile__logo {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    z-index: 21;
    margin-left: -30px;
    pointer-events: none;
  }
}
header.active .submenu__list {
  background-color: rgba(252, 245, 239, 0.7);
}
@media (max-width: 991.99px) {
  header.active .submenu__list {
    background: transparent;
  }
}
header.active .submenu__list a {
  color: #000;
}
header.active .burger span, header.active .burger:before, header.active .burger:after {
  background: #000;
}

.header {
  max-width: 1000px;
  width: 100%;
}
@media (max-width: 991.99px) {
  .header {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
.header .mobile__logo {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991.99px) {
  .menu {
    display: none;
  }
}
.menu.active {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  pointer-events: all;
  justify-content: center;
  gap: 40px;
  align-items: center;
  z-index: 2;
  animation: fade 0.1s linear;
  background: #fff;
}
.menu.active a {
  color: #000;
  font-size: 20px;
}
.menu.active .menu__item {
  text-align: center;
}
.menu.active .menu__item:nth-child(4) {
  visibility: hidden;
  display: none;
}
.menu.active .submenu {
  position: static;
  opacity: 1;
  visibility: visible;
  transform: rotateX(0);
  gap: 14px;
}
.menu.active .submenu a {
  color: #000 !important;
  font-size: 14px;
}
.menu .with__submenu {
  position: relative;
}
.menu .with__submenu:hover > .submenu {
  opacity: 1;
  visibility: visible;
  transform: rotateX(0);
}
.menu__item {
  list-style: none;
}
.menu__link {
  font-size: 12.5px;
  line-height: 1.2;
  color: white;
  text-decoration: none;
}
.menu__link:hover {
  text-decoration: underline;
}
.menu__logo {
  display: none;
}

.submenu {
  min-width: 170px;
  position: absolute;
  left: -8px;
  z-index: 5;
  transform: rotateX(-90deg);
  transform-origin: 0 0;
  transition: 0.3s linear;
  visibility: hidden;
  opacity: 0;
  background: none;
  top: 100%;
  padding-top: 18px;
}
.submenu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0 8px 8px;
}
.submenu li {
  position: relative;
}
.submenu a {
  font-size: 12.5px;
  line-height: 1.2;
  color: white;
  text-decoration: none;
  display: block;
}
.submenu a:hover {
  text-decoration: underline;
}

.burger {
  display: none;
  background: transparent;
  z-index: 3;
  outline: none;
  border: none;
}
@media screen and (max-width: 991.99px) {
  .burger {
    display: flex;
    position: relative;
    height: 20px;
    width: 30px;
  }
  .burger.active:before {
    background: #000;
    transform: rotate(45deg);
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    top: 8px;
  }
  .burger.active:after {
    background: #000;
    transform: rotate(-45deg);
    bottom: 10px;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }
  .burger.active span {
    transform: scale(0);
  }
  .burger:before, .burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }
  .burger:before {
    top: 0;
  }
  .burger::after {
    bottom: 0;
  }
  .burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: #fff;
    height: 2px;
    transform: scale(1);
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }
}

.discover {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  width: 100%;
  margin-top: 70px;
}
@media (max-width: 991.99px) {
  .discover {
    margin-top: 40px;
  }
}
@media (max-width: 767.99px) {
  .discover {
    grid-template-columns: repeat(1, 1fr);
    gap: 34px;
  }
}
.discover__container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.discover__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.discover__image {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.discover__title {
  margin-top: 40px;
  margin-bottom: 44px;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
}
@media (max-width: 991.99px) {
  .discover__title {
    margin: 20px 0;
  }
}
.discover__title span {
  display: block;
  margin-top: 6px;
}
.discover__link {
  color: #000;
  font-size: 12.5px;
  text-underline-offset: 4px;
  transition: 0.3s all;
}
.discover__link:hover {
  text-underline-offset: 8px;
}

.section__press {
  padding: 0;
  overflow: hidden;
}

.press {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  margin-top: 70px;
  padding: 0 20px;
}
@media (max-width: 991.99px) {
  .press {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
.press__container {
  max-width: 1880px;
  width: 100%;
  margin: 0 auto;
  background: #faf9f7;
  padding: 80px 0;
}
@media (max-width: 991.99px) {
  .press__container {
    padding: 40px 0;
    max-width: 100%;
  }
}
.press__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .press__item img {
    max-width: 70px;
    width: 100%;
    height: auto;
  }
}

.section__love {
  margin-top: 140px;
}
@media (max-width: 991.99px) {
  .section__love {
    margin-top: 0;
  }
}

.love__container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  padding: 0 20px;
}
@media (max-width: 991.99px) {
  .love__container {
    padding: 0 40px 0 20px;
  }
}
.love__image {
  position: absolute;
  right: 20px;
  top: -132px;
  z-index: -1;
}
@media (max-width: 991.99px) {
  .love__image {
    position: static;
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-left: 10px;
  }
}
.love__label {
  position: absolute;
  right: -66px;
  top: -60px;
  font-size: 10.417px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix(0, -1, 1, 0, 0, 0);
  -webkit-transform: matrix(0, -1, 1, 0, 0, 0);
  -ms-transform: matrix(0, -1, 1, 0, 0, 0);
}
@media (max-width: 991.99px) {
  .love__label {
    right: unset;
    left: -56px;
    top: 70px;
  }
}
.love__item {
  padding: 70px 55px 36px 41px;
  background: #fff;
  max-width: 460px;
  width: 100%;
  text-wrap: balance;
  margin-left: 200px;
}
@media (max-width: 1199.99px) {
  .love__item {
    margin-left: 100px;
  }
}
@media (max-width: 991.99px) {
  .love__item {
    padding: 0;
    margin: 0;
    max-width: 100%;
  }
}
.love__title {
  font-size: 31.25px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
}
@media (max-width: 991.99px) {
  .love__title {
    display: none;
  }
}
.love__text {
  font-size: 12.5px;
  line-height: 2;
  text-align: center;
  margin-top: 40px;
}
@media (max-width: 991.99px) {
  .love__text {
    text-align: justify;
    margin-top: 24px;
    margin-left: 10px;
  }
}
.love__link {
  margin-top: 70px;
  display: flex;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-left: auto;
  font-size: 12.5px;
  line-height: 1.2;
  color: #000;
  text-underline-offset: 4px;
  transition: 0.3s all;
}
.love__link:hover {
  text-underline-offset: 8px;
}
@media (max-width: 991.99px) {
  .love__link {
    margin: 30px auto 0;
  }
}

.section__ambassadors {
  overflow: hidden;
}

.ambassadors__container h3 {
  text-transform: capitalize;
  font-size: 12.5px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  padding: 0 20px;
}
.ambassadors__container h3 a {
  color: #000;
  text-decoration: underline;
}

.swiper__ambassadors {
  margin-top: 40px;
}
.swiper__ambassadors .swiper-button-next:after,
.swiper__ambassadors .swiper-button-prev:after {
  display: none;
}
.swiper__ambassadors .swiper-button-next,
.swiper__ambassadors .swiper-button-prev {
  width: 40px !important;
  height: 40px !important;
  background: #000;
  border-radius: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767.99px) {
  .swiper__ambassadors .swiper-button-next,
  .swiper__ambassadors .swiper-button-prev {
    width: 30px !important;
    height: 30px !important;
  }
}
.swiper__ambassadors .swiper-button-next img,
.swiper__ambassadors .swiper-button-prev img {
  width: 14px;
}
.swiper__ambassadors .swiper-button-next img {
  transform: rotate(-90deg);
}
.swiper__ambassadors .swiper-button-prev img {
  transform: rotate(90deg);
}

.ambassador__slide {
  position: relative;
  overflow: hidden;
}
.ambassador__slide:hover .slide__overlay {
  opacity: 1;
}
.ambassador__slide img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.slide__overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 3px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s opacity;
  gap: 24px;
  padding: 60px;
  opacity: 0;
}
@media (max-width: 1199.99px) {
  .slide__overlay {
    padding: 30px;
    gap: 14px;
  }
}
@media (max-width: 991.99px) {
  .slide__overlay {
    padding: 10px;
  }
}
.slide__overlay-icon {
  width: 40px !important;
}
.slide__overlay-title {
  font-size: 25px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
}
@media (max-width: 991.99px) {
  .slide__overlay-title {
    font-size: 20px;
  }
}
@media (max-width: 767.99px) {
  .slide__overlay-title {
    font-size: 16px;
  }
}
.slide__overlay-text {
  font-size: 12.5px;
  color: rgb(255, 255, 255);
  line-height: 1.667;
  text-align: center;
}
@media (max-width: 991.99px) {
  .slide__overlay-text {
    font-size: 10px;
  }
}
@media (max-width: 767.99px) {
  .slide__overlay-text {
    display: none;
  }
}
.slide__overlay-link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12.5px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-underline-offset: 4px;
}
.slide__overlay-link img {
  width: 14px;
}

footer {
  padding: 40px 0;
  border-top: 1px solid #d4d3d1;
}

.footer {
  display: flex;
  gap: 45px;
}
@media (max-width: 767.99px) {
  .footer {
    flex-direction: column;
    gap: 35px;
  }
}
.footer__container {
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
}
.footer__left {
  flex-direction: column;
  gap: 40px;
  display: flex;
  flex: 1 1 auto;
}
.footer__info {
  display: flex;
  align-items: flex-start;
  gap: 120px;
}
@media (max-width: 1199.99px) {
  .footer__info {
    gap: 40px;
  }
}
@media (max-width: 767.99px) {
  .footer__info {
    gap: 0;
    justify-content: space-between;
  }
}
@media (max-width: 599.99px) {
  .footer__info {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .footer__info p {
    display: none;
  }
}
.footer__social {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
}
.footer__title {
  font-size: 13.333px;
  color: #000;
  line-height: 1.2;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__title img {
  display: none;
}
@media (max-width: 599.99px) {
  .footer__title img {
    display: block;
  }
}
.footer__social-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 16px;
}
.footer__social-list a img {
  transition: scale 0.3s;
}
.footer__social-list a:hover img {
  scale: 1.1;
}
.footer__links {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 599.99px) {
  .footer__links {
    flex-direction: column;
  }
}
@media (max-width: 599.99px) {
  .footer__links-column {
    padding: 16px 0;
  }
  .footer__links-column:not(:first-child) {
    border-top: 1px solid #d4d3d1;
  }
}
.footer__list {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.footer__list a {
  font-size: 12.5px;
  color: #000;
  line-height: 1.667;
  text-decoration: none;
}
.footer__list a:hover {
  text-decoration: underline;
}
.footer__right {
  max-width: 400px;
  width: 100%;
}
@media (max-width: 767.99px) {
  .footer__right {
    max-width: 100%;
  }
  .footer__right .footer__title {
    justify-content: center;
    text-align: center;
  }
}
.footer__copy {
  font-size: 10px;
  color: rgb(0, 0, 0);
  line-height: 1.667;
}
@media (max-width: 767.99px) {
  .footer__copy {
    margin: 30px auto 0;
    text-align: center;
  }
}

.footer__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}
@media (max-width: 767.99px) {
  .footer__form {
    gap: 16px;
    margin-top: 20px;
  }
}
.footer__form-input {
  padding: 12px 0;
  border: none;
  border-bottom: 1px solid #d4d3d1;
  outline: none;
  font-size: 13.333px;
  color: #000;
  line-height: 1.2;
}
.footer__form-input::-moz-placeholder {
  color: #000;
}
.footer__form-input::placeholder {
  color: #000;
}
.footer__form-input:focus {
  border-color: #000;
}
.footer__form-text {
  font-size: 10px;
  color: #000;
  line-height: 1.667;
}
.footer__form-text a {
  color: #000;
}
.footer__form-btn {
  font-size: 12px;
  text-transform: uppercase;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  border: 1px solid #d4d3d1;
  background: transparent;
  cursor: pointer;
}
.footer__form-btn:hover {
  background: #f9f9f9;
}

.accordion .accordion__item.accordion__item-active .accordion__item-content {
  display: block;
}
@media (max-width: 599.99px) {
  .accordion .accordion__item .accordion__item-content {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */