* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}
body.locked {
  overflow: hidden;
}

main {
  padding: 0 20px;
}

section {
  padding: 80px 0;
}
@media (max-width: 991.99px) {
  section {
    padding: 40px 0;
  }
}

h2 {
  font-size: 34px;
  letter-spacing: 120%;
  line-height: 1.2;
  font-weight: 500;
  text-align: center;
}
@media (max-width: 991.99px) {
  h2 {
    font-size: 26px;
  }
}
@media (max-width: 767.99px) {
  h2 {
    font-size: 18px;
  }
}

h3 {
  font-size: 12.5px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  margin-top: 4px;
  font-weight: normal;
}

h4 {
  font-size: 31.25px;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
}

.header__wrapper {
  display: flex;
  min-height: 100dvh;
  position: relative;
  height: 100%;
  width: 100%;
  background: url("../images/hero_bg.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
@media (max-width: 767.99px) {
  .header__wrapper img {
    max-width: 288px;
    width: 100%;
    height: auto;
  }
}

header {
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discover {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  width: 100%;
  margin-top: 70px;
}
@media (max-width: 991.99px) {
  .discover {
    margin-top: 40px;
  }
}
@media (max-width: 767.99px) {
  .discover {
    grid-template-columns: repeat(1, 1fr);
    gap: 34px;
  }
}
.discover__container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.discover__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.discover__image {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.discover__title {
  margin-top: 40px;
  margin-bottom: 44px;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
}
@media (max-width: 991.99px) {
  .discover__title {
    margin: 20px 0;
  }
}
.discover__title span {
  display: block;
  margin-top: 6px;
}
.discover__link {
  color: #000;
  font-size: 12.5px;
  text-underline-offset: 4px;
  transition: 0.3s all;
}
.discover__link:hover {
  text-underline-offset: 8px;
}

.section__press {
  padding: 0;
}

.press {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  margin-top: 70px;
}
@media (max-width: 991.99px) {
  .press {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
.press__container {
  max-width: 1880px;
  width: 100%;
  margin: 0 auto;
  background: #faf9f7;
  padding: 80px 0;
}
@media (max-width: 991.99px) {
  .press__container {
    padding: 40px 0;
    max-width: 100%;
  }
}
.press__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .press__item img {
    max-width: 70px;
    width: 100%;
    height: auto;
  }
}

.section__love {
  margin-top: 140px;
}
@media (max-width: 991.99px) {
  .section__love {
    margin-top: 0;
  }
}

.love__container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}
.love__image {
  position: absolute;
  right: 20px;
  top: -132px;
  z-index: -1;
}
@media (max-width: 991.99px) {
  .love__image {
    position: static;
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-left: 10px;
  }
}
.love__label {
  position: absolute;
  right: -66px;
  top: -60px;
  font-size: 10.417px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix(0, -1, 1, 0, 0, 0);
  -webkit-transform: matrix(0, -1, 1, 0, 0, 0);
  -ms-transform: matrix(0, -1, 1, 0, 0, 0);
}
@media (max-width: 991.99px) {
  .love__label {
    right: unset;
    left: -76px;
    top: 70px;
  }
}
.love__item {
  padding: 70px 55px 36px 41px;
  background: #fff;
  max-width: 460px;
  width: 100%;
  text-wrap: balance;
  margin-left: 200px;
}
@media (max-width: 1199.99px) {
  .love__item {
    margin-left: 100px;
  }
}
@media (max-width: 991.99px) {
  .love__item {
    padding: 0;
    margin: 0;
    max-width: 100%;
  }
}
.love__title {
  font-size: 31.25px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
}
@media (max-width: 991.99px) {
  .love__title {
    display: none;
  }
}
.love__text {
  font-size: 12.5px;
  line-height: 2;
  text-align: center;
  margin-top: 40px;
}
@media (max-width: 991.99px) {
  .love__text {
    text-align: justify;
    margin-top: 24px;
    margin-left: 10px;
  }
}
.love__link {
  margin-top: 70px;
  display: flex;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-left: auto;
  font-size: 12.5px;
  line-height: 1.2;
  color: #000;
  text-underline-offset: 4px;
  transition: 0.3s all;
}
.love__link:hover {
  text-underline-offset: 8px;
}
@media (max-width: 991.99px) {
  .love__link {
    margin: 30px auto 0;
  }
}/*# sourceMappingURL=main.css.map */